* {
  box-sizing: border-box;
}

.game_board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 40rem;
  height: 40rem;
  border-collapse: collapse;
  gap: 1px;
  background-color: black;
  border: 1px solid black;
}

.game_board_spot {
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 80%);
  font-size: 10rem;
  text-align: center;
}

.game_board_spot:hover {
  background-color: hsl(0, 0%, 90%);
}

.winner {
  animation-name: spinner-winner;
  animation-duration: .2s;
  animation-iteration-count: 60;
}

.loser {
  animation-name: spinner-loser;
  animation-duration: 5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes spinner-loser {
  100% {
    transform: rotateZ(4000deg) scale(0%);
  }
}

@keyframes spinner-winner {
  25% {
    transform: rotateZ(1deg);
  }
  75% {
    transform: rotateZ(-1deg);
  }
}