* {
  box-sizing: border-box;
}

.game_board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 40rem;
  height: 40rem;
  border-collapse: collapse;
  gap: 1px;
  background-color: black;
  border: 1px solid black;
}

.game_board_spot {
  width: 100%;
  height: 100%;
  background-color: hsl(0, 100%, 50%);
  transition: transform;
  transition-duration: .1s;
}

.game_board_spot:hover {
  background-color: hsl(0, 100%, 70%);
}

.game_board_spot:active {
  box-shadow: inset 1px 1px 5px 0px black;
  transform: scale(.99);
}